
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #222;
  }
  
 
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    text-align: center;
    padding: 20px;
    background-color: black;
    height: 600px;
    width: 800px;
    margin: 10px;
  }
  

  #gameArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    position: relative;
  }
  
  .stimulus {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  
  
  #instructionScreen {
    display: none;
    background-color: black;
  }
  
  .img {
    width: 800px;
    height: 500px;
  }
  
  
  .instruction-text,
  #startBtn {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #startBtn {
    background-color: #DCDCDC;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  #startBtn:hover {
    background-color: #DCDCDC; 
  }
  
  #fullscreenBtn {
    position: absolute;
    bottom: 210px;
    left: 510px;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  :fullscreen img {
    width: 80vw;
    object-fit: contain;
  }
  
 
  #feedbackBox {
    width: 20%;
    background-color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: none;
  }
  

  img.normal-size {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  img.fullscreen-size {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  
  #gameArea {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;  
  }
  